<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LoginAccount" value="it_information"/>
    <add key="LoginPwd" value="4rfv%TGB"/>
    <add key="LoginDomain" value="mr"/>
    <add key="OSSNotifyUrl" value="http://172.27.1.202/ossNotificationsWS/UI.asmx"/>
    <add key="OSSDiagnosticsUrl" value="http://172.27.1.202/ossNotificationsWS/Diagnostics.asmx"/>
    <add key="BSSUrl" value="http://172.27.1.202/bss/PrincipalManagement.asmx"/>
    <add key="OssConfigUrl" value="http://172.27.1.202/ossNotificationsWS/Configuration.asmx"/>
    <add key="NotificationWSProxyUrl" value="http://172.27.1.202/NotificationWSProxy/service.asmx"/>
    <add key="BranchManagerUrl" value="http://172.27.1.202/ossbranch/BranchManagement.asmx"/>
    <add key="MSTVService" value="http://172.27.77.8/Service1.asmx"/>
    <add key="OSSChannelUrl" value="http://172.27.1.202/osschannel/ChannelManagement.asmx"/>
    <add key="OssEpgUrl" value="http://172.27.1.202/ossepg/ossepg.asmx"/>
    <add key="BSSBillingUrl" value="http://172.27.1.202/bss/BillingRecordManagement.asmx"/>
    <add key="OssUInotificationUrl" value="http://172.27.1.202/ossNotificationsWS/UI.asmx"/>

    
    <!--<add key="LoginAccount" value="it_information"/>
    <add key="LoginPwd" value="4rfv%TGB"/>
    <add key="LoginDomain" value="lab"/>
      <add key="OSSNotifyUrl" value="http://172.27.65.18/ossNotificationsWS/UI.asmx"/>
    <add key="OSSDiagnosticsUrl" value="http://172.27.65.18/ossNotificationsWS/Diagnostics.asmx"/>
    <add key="OssConfigUrl" value="http://172.27.65.18/ossNotificationsWS/Configuration.asmx"/>
    <add key="BSSUrl" value="http://172.27.65.18/bss/PrincipalManagement.asmx"/>
    <add key="OssConfigUrl" value="http://172.27.65.18/ossNotificationsWS/Configuration.asmx"/>
    <add key="NotificationWSProxyUrl" value="http://172.27.65.18/NotificationWSProxy/service.asmx"/>
    <add key="BranchManagerUrl" value="http://172.27.65.18/ossbranch/BranchManagement.asmx"/>
    <add key="MSTVService" value="http://172.27.77.8/Service1.asmx"/>
    <add key="OSSChannelUrl" value="http://172.27.65.18/osschannel/ChannelManagement.asmx"/>
    <add key="OssEpgUrl" value="http://172.27.65.18/ossepg/ossepg.asmx"/>
    <add key="BSSBillingUrl" value="http://172.27.65.18/bss/BillingRecordManagement.asmx"/>-->

  </appSettings>

</configuration>
